page-login {
    .content{
       // background-color: cadetblue; 
        background-image: url("../assets/img/background2.jpg");
        background-repeat: no-repeat;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .item{
        background-color: rgba(0,0,0,0.3);
        color: azure;
        border-radius: 5px;
    }
}
