page-register {

    #registerCard{
        background-color: rgba(0,0,0,0.3);
        border-radius: 5px;
        padding: 8px;
    }
    .item{
        background-color: rgba(0,0,0,0);
        color: azure;
        border-radius: 5px;
    }
}
